<!--[if gt IE 8]><!---->
{% capture style_url %}{% link assets/css/application.css %}{% endcapture %}
{% capture icons_url %}{% link assets/icomoon/style.css %}{% endcapture %}
{% capture fonts_url %}https://fonts.googleapis.com/css?family={{ google_fonts }}{% endcapture %}

{% assign font_heading = site.font_heading | default:"Roboto Slab, Helvetica, Arial, sans-serif" %}
{% assign font         = site.font         | default:"Noto Sans, Helvetica, Arial, sans-serif" %}

<link rel="stylesheet" href="{{ style_url | relative_url }}">
<link rel="stylesheet" href="{{ icons_url | relative_url }}">
  <link rel="stylesheet" href="{{ fonts_url }}">
  <noscript>
    <style>
      html { font-family: {{ font }}!important; }
      h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .heading { font-family: {{ font_heading }}!important; }
    </style>
  </noscript>
{% unless site.hydejack.no_page_style %}
  {% include head/page-style.html %}
{% endunless %}
<!--<![endif]-->
