{% assign post          = include.post          %}
{% assign no_link_title = include.no_link_title %}
{% assign no_excerpt    = include.no_excerpt    %}
{% assign hide_image    = include.hide_image    %}

<article id="post{{ post.id | replace:'/','-' }}" class="page post mb6" role="article">
    <header>
        <h1 class="post-title">
            {% unless no_link_title %}<a href="{{ post.url | relative_url }}" class="flip-title">{% endunless %}
            {{ post.title }}
            {% unless no_link_title %}</a>{% endunless %}
        </h1>
        <div class="time-container">
            <span class="time-prefix">Procrastinated until </span>
            <time class="timeago" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date:post_format }}
            </time>
        </div>

        {% unless hide_image %}
        {% if post.image %}
        <div class="img sixteen-nine">
            {% include components/hy-img.html img=post.image alt=post.title %}
        </div>
        {% endif %}
        {% endunless %}
    </header>

    {% if no_excerpt %}
    {{ post.content }}
    {% else %}
    {{ post.excerpt }}
    {% endif %}

    <footer class="post-date">
        {% assign post_format = site.data.strings.date_formats.post | default:"%d %b %Y" %}
        <span class="tags-container">
          {% include components/tag-list.html tags=post.categories meta=site.all_categories %}
            <span class="tag-separator">{{ '  |  ' }}</span>
          {% include components/tag-list.html tags=post.tags meta=site.all_tags %}
        </span>
        {% unless no_excerpt %}
            <span class="read-more">
                <a href="{{ post.url | relative_url }}">Read the complete chronicle</a>
            </span>
        {% endunless %}
    </footer>
</article>
